
@media  screen and (max-width: 450px) {
    .menu-lateral {
        position: absolute;
        background-color: #003176!important;
        top: 6.5rem;
        right: 0;
        color: #FFF;
        gap: 1rem;
        display: flex;
        border-radius: 10px;
        max-height: 0;
        transition: all 1s ease-in-out;
        visibility: hidden;
    }
    
    .menu-lateral.mostrar{
        max-height: 10.5rem;
        visibility: visible;
    }
    
    .nav-lista li {
        display: flex;
        list-style: none;
        font-size: larger;
        font-weight: bold;
        text-align: start;
        padding: 1rem;
        align-items: center;
        gap: 0.3rem;
    }
    
    .no-link-style {
        text-decoration: none; /* Remove o sublinhado */
        color: inherit; /* Herda a cor do texto do elemento pai */
    }
}