.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    background-color: white;
}

.formulario label {
    width: 60%;
    align-self: flex-start;
    color: #003176!important;
    margin: 0 auto;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0.3rem;
}

.formulario input:focus, .select:focus{
    outline: 1px solid #003176!important;
}

.formulario input{
    width: 60%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}

button {
    width: 60%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-block: 1rem;
    border: 1px solid #003176;
    background-color: #003176;
    color: white;
    font-weight: bold;
    font-size: large;

}

select{
    width: 60%;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-weight: bold;
}

option {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: bold;
    padding: 1rem;
}


.select {
    width: 60%;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-weight: bold;
}

.select:focus {
    border: none;
}

.custom-dropdown {
    width: 60%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 15px;
}



.custom-dropdown .Dropdown-control {
    border: none;
    background-color: transparent;
    font-size: 15px;
}

.custom-dropdown .Dropdown-option {
    padding: 10px;
    cursor: pointer;
}

.custom-dropdown .Dropdown-option:first-child {
    margin-top: 1rem;
}

.custom-dropdown .Dropdown-option:hover {
    background-color: #003176;
    color: #ffffff;
    border-radius: 10px;
}

.custom-dropdown .Dropdown-arrow {
    border-color: #007bff transparent transparent;
}