

.fundo-painel {
    background-color: #ffffffdd;
    height: 100vh;
}

.cabecalho-painel {
    width: 100%;
    height: 8rem;
    line-height: 8rem;
    background-color: #003176;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.painel-cima {
    width: 100%;
    height: 40%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.painel-cima .card {
    width: 23%;
    height: 15rem;
    background-color: aqua;
}

.painel-baixo {
    width: 100%;
    height: max-content;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .card-baixo {
    width: 40%;
    height: 50%;
    background-color: green;
} 
